/*
* miscellaneous
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
	--bg: #071952;
	--primary: #088395;
	--sub-primary: #35a29f;
	--acsent: #eeeeee;
	--text: #071952;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, 'sans-serif';
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--bg);
}

header {
	text-align: center;
	background-color: var(--primary);
	padding: 5px;
}

header h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	color: var(--text);
}

main {
	width: 100%;
	margin: 0;
}

main .container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

/** Add Book */

.add-book-box {
	width: 80%;
	max-width: 400px;
	margin: 20px auto 0;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 14px;
	color: var(--text);
	background-color: var(--primary);
}

.add-book-box form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.add-book-box .add-book-form-infos {
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 10px;
	justify-content: space-around;
}

.add-book-box .add-book-form-infos-label-box {
	padding-right: 10px;
	border: none;
	border-right: #eeeeee solid 1px;
}

.add-book-box .add-book-form-infos label {
	display: block;
	width: 100%;
	margin: 0 auto 5px;
	padding: 5px;
}

.add-book-box .add-book-form-infos input {
	width: 100%;
	margin: 0 0 5px;
	padding: 5px;
	background-color: transparent;
	border: none;
	border-bottom: #eeeeee solid 1px;
}

.add-book-box .add-book-form-infos #add-isComplete {
	display: flex;
	margin: 8px 0;
	width: 15px;
	height: 15px;
}

.add-book-box .add-book-form-infos input:focus {
	outline: none;
}

.add-book-box .add-book-form-submit {
	width: 100%;
	margin: 0 auto;
}

.add-book-box .add-book-form-submit input {
	all: unset;
	display: block;
	width: 35%;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	border-radius: 3px;
	background-color: var(--sub-primary);
	cursor: pointer;
	font-size: 12px;
}

.add-book-box .add-book-form-submit input:hover,
.add-book-box .add-book-form-submit input:active {
	background-color: var(--bg);
	color: var(--primary);
}

/** Search Book */

.search-book-box {
	width: 80%;
	max-width: 400px;
	margin: 25px auto 0;
	padding: 5px 20px;
	background-color: var(--primary);
	border-radius: 3px;
	color: var(--text);
}

.search-book-box form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 14px;
}

.search-book-box form #search-book {
	flex-grow: 2;
	width: 70%;
	padding: 5px;
	background-color: transparent;
	border: none;
}

.search-book-box form #search-book:focus {
	outline: none;
}

.search-book-box form #search-submit {
	all: unset;
	padding: 2px;
	width: 10%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	background-color: var(--sub-primary);
}

.search-book-box form #search-submit:hover,
.search-book-box form #search-submit:active {
	background-color: var(--bg);
	color: var(--primary);
}

/** Bookcase-box */

.bookcase-box {
	width: 100%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--text);
}

.bookcase-box section {
	width: 70%;
	max-width: 300px;
	min-height: 200px;
	max-height: 350px;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 15px;
	background-color: var(--primary);
	border-radius: 3px;
}

.bookcase-box section h3 {
	width: 100%;
	font-size: 16px;
	margin-bottom: 15px;
}

/** Books */

.book-list {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.book-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--sub-primary);
	border: #eeeeee solid 1px;
	border-radius: 3px;
}

.book-item h5 {
	font-size: 14px;
}

.book-item p {
	font-size: 12px;
}

.book-item-btn button {
	all: unset;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
}

/** Responsiveness */

@media screen and (min-width: 768px) {
	.bookcase-box {
		flex-direction: row;
		justify-content: center;
		gap: 0;
	}

	.bookcase-box {
		width: 100%;
	}
}
